<div class="blog-page">
  <h1>My Blogs</h1>

  <% if (posts && posts.length > 0) { %>
  <div class="blog-grid">
    <% posts.forEach(function(post) { %>
    <div class="blog-card">
      <img
        src="<%= post.image || '/images/default.jpg' %>"
        alt="<%= post.title %>"
        class="blog-image"
      />
      <div class="blog-content">
        <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
        <p><%= post.content.substring(0, 150) %>...</p>
        <a href="/posts/<%= post.id %>" class="read-more">Read more</a>
      </div>
    </div>
    <% }) %>
  </div>
  <% } else { %>
  <p>No blog posts yet. Be the first to write one!</p>
  <% } %>
</div>
